:root {
    --border_color: rgb(149, 98, 165);
    --highlight: rgb(173, 216, 230);
    --soft-black: rgb(76, 75, 80);
    --shadow-bottom: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    --yellow: rgba(255,209,67,1);
}

html, body{
    background: rgb(255, 255, 255);
    height:100%;
    margin: 0;
    scroll-behavior: smooth;
}

.header {
    height: 100vh;
    position: relative;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 120px;
    color: white;
    /* padding: 10px; */
}

/* .expanded-canvas {
    background-color: wheat;
} */

#header-home{
    background-image: linear-gradient( 109.6deg,  rgb(85, 90, 94) 11.2%, var(--soft-black) 100.2% );
}

#header-p1{
    background:radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,209,67,1) 0%, rgba(255,145,83,1) 90% );
}

/* create a gradient border */
nav{
    position: fixed;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* overflow: hidden; */
    width: 100%;
    z-index: 2;
}

.navBarBackground {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    z-index: 2;

    background-color: var(--soft-black);
    border-bottom: 5px solid var(--highlight);
    box-shadow: var(--shadow-bottom);
}

.navBar {
    width: 100%;
}

nav li{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    float: right;
    z-index: 3;
    position: relative;
}

nav li:first-child {
    float: left;
}

nav li:hover {
    color: var(--highlight);
}

.site-wrapper {
    background: white;
    width: 65%;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}

p {
    font-size: 20px;
    /* font-family: fantasy; */
    /* font-family: monospace; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #6E7b81;
    line-height: 35px;
}
h1{
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}
.demo {
    margin: auto;
    padding-top: 25px;
    padding-bottom: 25px;
    width: min-content;
}

.dark-section {
    padding: 10px;
    height: 50vh;
    background-image: radial-gradient( circle farthest-corner at 3.8% 67.2%,  rgb(44, 44, 45) 0%, rgb(30, 26, 32) 90.1% );
}

h5 {
    position: absolute;
    z-index: 1;
}

.canvas-small {
    border: 10px solid var(--border_color);
    border-radius: 20px;
    box-shadow: var(--shadow-bottom);
    margin: auto; 
}